<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="ArmMage_AutoCouponApply::AutoCoupon" title="ArmMage AutoCoupon" translate="title" >
                    <resource id="ArmMage_AutoCouponApply::manage" title="AutoCoupon Configuration" translate="title" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
